# the following instructions assume http[s] access to *.debian.org, *.pythonhosted.org, *.pypi.org
# sudo ufw allow 443
# sudo apt update
# sudo apt upgrade
# sudo apt install python3-pip build-essential libsystemd-dev libssl-dev
# sudo pip3 install service_identity --force --upgrade
# sudo pip3 install -r requirements.txt
# sudo ./ace.py install

accept-types
aiofiles
aiohttp
aioshutil
boto3
flask
Flask-Login
Flask-Session
mypy-extensions
natural
pydub
PyOpenSSL
python-pam
service_identity
tornado
types-aiofiles
types-certifi
types-flask
types-psycopg2
types-tornado
types-tzlocal
tzlocal
