/*body {
	font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans;
}*/

table {
	width: 100%;
}

div.tree-editor {
	display: flex
}

div.tree-editor div.tree {
	flex: 1;
	text-align: left;
	padding: 4px;
	vertical-align: top
}

div.tree-editor div.details {
	flex: 2;
	vertical-align: top;
	display: inline-block;
}

#div_tree {
	font: 10px Verdana, sans-serif;
	display: inline-block;
	/*width: 300px;*/
}
