body {
	margin: 0;
	font-family: Sans-Serif;
}
#content { margin: 8px; }
ul.nav { list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #824C9E; }
ul.nav li { float: left; }
ul.nav li a { display: block; color: white; text-align: center; padding: 16px; text-decoration: none; }
ul.nav li a:hover { background-color: #501c65; }

.clone { background-color: #FFFF00 }
.delete { background-color: #FF0000 }
.no_top_margin { margin-top: 0 }

table.fancy { border: 1px solid #ccc; border-collapse: collapse; margin: 0; padding: 0; width: 100%; table-layout: fixed; }
table.fancy caption { font-size: 1.0em; margin: .5em 0 .75em; }
table.fancy tr { background-color: #f8f8f8; border: 1px solid #ddd; padding: .35em; }
table.fancy th, table.fancy td { font-size: 1.0em; padding: .625em; text-align: center; }

@media screen and (max-width: 600px) {
	table.fancy { border: 0; }
	table.fancy caption { font-size: 1.3em; }
	table.fancy thead { border: none; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
	table.fancy tr { border-bottom: 3px solid #ddd; display: block; margin-bottom: .625em; }
	table.fancy td { border-bottom: 1px solid #ddd; display: block; font-size: .7em; text-align: right; }
	table.fancy td:before { content: attr(data-label); float: left; font-weight: bold; text-transform: uppercase; }
	table.fancy td:last-child { border-bottom: 0; }
}

table.unpadded { border-collapse: collapse; }
table.unpadded td { padding: 0 }

[tooltip]:hover {
	position: relative;
}

[tooltip]:hover:after {
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.8);
	
	-webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	color: #FFFFFF;
	font-size: 12px;
	content: attr(tooltip);
	
	margin-bottom: 10px;
	top: 130%;
	left: 0;
	padding: 7px 12px;
	position: absolute;
	width: auto;
	min-width: 50px;
	max-width: 300px;
	word-wrap: break-word;
	
	z-index: 9999;
}
