body { margin: 0; }
#content { margin: 8px; }
ul.nav { list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #824C9E; }
ul.nav li { float: left; }
ul.nav li a { display: block; color: white; text-align: center; padding: 16px; text-decoration: none; }
ul.nav li a:hover { background-color: #501c65; }

.clone { background-color: #FFFF00 }
.delete { background-color: #FF0000 }
.no_top_margin { margin-top: 0 }

table.fancy { border: 1px solid #ccc; border-collapse: collapse; margin: 0; padding: 0; width: 100%; table-layout: fixed; }
table.fancy caption { font-size: 1.0em; margin: .5em 0 .75em; }
table.fancy tr { background-color: #f8f8f8; border: 1px solid #ddd; padding: .35em; }
table.fancy th, table.fancy td { font-size: 1.0em; padding: .625em; text-align: center; }

@media screen and (max-width: 600px) {
	table.fancy { border: 0; }
	table.fancy caption { font-size: 1.3em; }
	table.fancy thead { border: none; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
	table.fancy tr { border-bottom: 3px solid #ddd; display: block; margin-bottom: .625em; }
	table.fancy td { border-bottom: 1px solid #ddd; display: block; font-size: .7em; text-align: right; }
	table.fancy td:before { content: attr(data-label); float: left; font-weight: bold; text-transform: uppercase; }
	table.fancy td:last-child { border-bottom: 0; }
}

table.unpadded { border-collapse: collapse; }
table.unpadded td { padding: 0 }

.tooltipped {
	position: relative;
	cursor: help;
}
.tooltipped .tooltip {
	position: absolute;
	top: -10px;
	right: 9999px;
	width: 200px;
	margin-right: -220px;
	padding: 10px;
	color: #fff;
	background: #333;
	-webkit-box-shadow: 2px 2px 5px #aaa;
	-moz-box-shadow: 2px 2px 5px #aaa;
	box-shadow: 2px 2px 5px #aaa;
	opacity: 0;
	-webkit-transition: opacity 250ms ease-out;
	-moz-transition: opacity 250ms ease-out;
	-ms-transition: opacity 250ms ease-out;
	-o-transition: opacity 250ms ease-out;
	transition: opacity 250ms ease-out;
}
.tooltipped .tooltip:before {
	content: " ";
	position: absolute;
	top: 50%;
	left: -16px;
	width: 0;
	height: 0;
	margin-top: -8px;
	border: 8px solid transparent;
	border-right-color: #333;
}
.tooltipped:hover .tooltip {
	right: -20px;
	z-index: 9999;
	opacity: 1;
}
